.selection-div{
 padding-top: 200px;
}
.selection{
  color: black;
  font-size: 30pt;
  font-weight: bolder;
  height: 100px;
  border-radius: 10px;
}
.survey-div{
  padding-top: 100px;
}
.hr-style{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(4, 147, 213, 0.83), rgba(0, 0, 0, 0));
}